body {
  text-align: center;
  font-family: 'DM Serif Display', Times, serif;
  background-color: grey;
}

a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  color: hotpink;
  text-decoration: none;
}

a:active {
  color: blue;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  border: 0;
}

h1 {
  background-color: aqua;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.navFlexbox {
  background-color: orange;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

nav a {
  color: white;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding-right: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
}

.nav1 {
  display: flex;
  order: 1;
  flex-direction: row;
}

.nav2 {
  display: flex;
  order: 2;
  flex-direction: row;
}

.nav3 {
  display: flex;
  order: 3;
  flex-direction: row;
}

h2 {
  background-color: chartreuse;
  font-family: 'Lexend Mega', Helvetica, sans-serif;
}

#menu_trigger {
  display: none;
}

@media (max-width: 800px) {
  ul {
    flex-direction: column;
  }

#menu_trigger {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

#menu_nav {
  display: none;
}
